/* Variables (dark theme) */
:root {
	--navbar-background: hsl(220, 12%, 18%);
	--note-background: hsl(220, 7%, 20%);
	--navbar-btn-hover: hsl(220, 8%, 24%);
	--link-color: hsl(216, 97%, 71%);
	--subtitle-color: hsl(140, 4%, 90%);
	--text-color: hsl(140, 3%, 78%);
	--title-color: hsl(140, 5%, 95%);
	--text-hover-color: hsl(140, 3%, 99%);
	--horizontal-line: hsl(220, 7%, 25%);
	--background-main: hsl(210, 6%, 12%);
	--box-shadow: hsl(220, 5%, 8%);
	--navbar-summary-hover-background: hsl(220, 12%, 15%);
	--go-to-top-color: hsl(220, 7%, 30%);
	--go-to-top-color-hover: hsl(220, 7%, 40%);

	--go-to-top-size: max(4vw, 2.7rem);
	--footer-space-between: 1.5rem;
}

/* Base */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-main);
	color: var(--text-color);
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

/* Page */
a {
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: var(--text-hover-color);
}

hr {
	background-color: var(--horizontal-line);
	border: 0;
	height: 1px;
	margin: 20px 0;
}

img {
	border-radius: 10px;
	width: max(40rem, 40vw);
}

table {
	border-collapse: collapse;
	width: 60vw;
}

tbody {
	border-bottom: 1px solid var(--horizontal-line);
	border-top: 1px solid var(--horizontal-line);
}

tr {
	border-bottom: 1px solid var(--horizontal-line);
}

td {
	border-left: 1px solid var(--horizontal-line);
	border-right: 1px solid var(--horizontal-line);
	padding: 0.2rem;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	color: var(--subtitle-color);
	font-size: 0.9rem;
	font-weight: 400;
	padding-bottom: 1rem;
}

strong {
	font-weight: 600;
}

h4 {
	color: var(--subtitle-color);
	font-size: 1.1rem;
	font-weight: 600;
	margin: 1rem 0;
}

code {
	background-color: var(--note-background);
	border-radius: 5px;
	color: var(--text-color);
	font-family: "Source Code Pro", monospace;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0 2px;
	padding: 0.2rem 0.3rem 0.2rem 0.3rem;
}

code a {
	color: var(--link-color);
}

code a:hover {
	text-decoration: underline;
}

pre {
	background-color: var(--note-background);
	border-radius: 5px;
	color: var(--text-color);
	font-family: "Source Code Pro", monospace;
	font-size: 0.9rem;
	font-weight: 400;
	height: min-content;
	padding: 0.3rem 0.8rem;
	text-align: left;
	white-space: pre-wrap;
	width: max-content;
}

pre code {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.note {
	background-color: var(--note-background);
	border-radius: 10px;
	color: var(--title-color);
	margin-bottom: 2rem;
	max-width: 50vw;
	padding: 1rem 1.5rem 1rem 1.5rem;
	width: max-content;
}

.note code {
	background-color: var(--background-main);
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: 400;
	padding: 0.15rem 0.3rem;
}

.note img {
	width: 100%;
}

.note strong {
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 600;
}

/* Navbar */
.navbar {
	align-items: center;
	background-color: var(--navbar-background);
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar h1 {
	color: var(--title-color);
	font-size: 1.8rem;
	font-weight: 750;
	padding: 10px;
}

.navbar .btn {
	background-color: var(--background-main);
	border: 0;
	border-radius: 10px;
	color: var(--text-color);
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
}

.navbar .btn:hover {
	background-color: var(--navbar-btn-hover);
	color: var(--title-color);
}

.navbar .navbar-menu-btn {
	font-size: 1.3rem;
	font-weight: 600;
	height: 100%;
}

.navbar .navbar-menu-btn:hover {
	cursor: pointer;
}

.navbar-menu {
	background-color: var(--navbar-background);
	border-radius: 0 0 10px 10px;
	left: 43vw;
	position: absolute;
	top: 100%;
}

.navbar-menu .summary-sublist {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem;
}

.navbar-menu .summary-title, .navbar-menu .summary-subtitle {
	display: flex;
	margin: 0;
}

.navbar-menu .summary-title a, .navbar-menu .summary-subtitle a {
	padding: 1rem;
	width: 100%;
}

.navbar-menu .summary-title:hover, .navbar-menu .summary-subtitle:hover {
	background-color: var(--navbar-summary-hover-background);
}

.navbar-menu .summary-title:last-child {
	border-radius: 0 0 10px 10px;
}

.navbar-menu .summary-subtitle:last-child {
	border-radius: 0 0 10px 10px;
}

.navbar-menu .summary-subtitle:first-child {
	border-radius: 0 10px 0 0;
}

.navbar-menu .summary-title a:hover, .navbar-menu .summary-subtitle a:hover {
	padding-left: 1rem;
}

.navbar-menu .summary-sublist {
	display: none;
}

.navbar-menu .summary-title:hover .summary-sublist {
	background-color: var(--navbar-background);
	display: flex;
	margin-left: 100%;
	margin-top: 0;
	padding: 0;
	position: absolute;
}

.navbar-menu .summary-title:hover .summary-sublist {
	border-radius: 0 10px 10px 10px;
}

.hide-navbar {
	display: none;
}

/* Summary */
#summary-title {
	color: var(--title-color);
	font-weight: bolder;
}

.summary-title {
	color: var(--subtitle-color);
	font-weight: bold;
}

.summary-sublist {
	color: var(--text-color);
	font-weight: normal;
}

.summary-title a:hover {
	padding-left: 4px;
}

ol {
	counter-reset: item;
	margin: 10px;
	padding-inline-start: 10px;
}

li {
	display: block;
	margin: 5px;
	padding-left: -1em;
}

#summary-list li:before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}

/* Contenu */
#content {
	margin: 15px;
}

#content h2 {
	color: var(--title-color);
	font-weight: bold;
	margin: 15px 0;
}

#content h3 {
	color: var(--subtitle-color);
	font-weight: bold;
	margin: 15px 0;
}

#content p {
	margin: 15px 0;
}

#content .section {
	margin: 15px 0 15px 20px;
}

#content .group {
	margin: 15px 0 15px 20px;
}

.conclusion {
	margin-bottom: 3rem !important;
}

/* Footer */
footer {
	background-color: var(--navbar-background);
	color: var(--text-color);
	margin: 0;
	bottom: 0;
	left: 0;
	position: sticky;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px 30px 30px;
	transition: all 0.3s ease-in-out;
}

footer .contacts, footer .licence {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
}

footer * * {
	padding: 0 var(--footer-space-between);
}

.contacts i {
	font-size: 1.6rem;
}

.contacts .vr {
	border-left: 2px solid var(--horizontal-line);
}

.hide-footer {
	bottom: -100%;
}

/* Go to top */
#go-to-top {
	align-items: center;
	background-color: var(--go-to-top-color);
	border-radius: 50%;
	bottom: -20px;
	color: var(--subtitle-color);
	cursor: pointer;
	display: flex;
	font-size: 1.5em;
	font-weight: bold;
	height: var(--go-to-top-size);
	justify-content: center;
	position: fixed;
	right: 20px;
	transition: opacity 0.5s ease-in-out, background-color 0.3s ease-in-out, bottom 0.3s ease-in-out;
	width: var(--go-to-top-size);

	z-index: 1;
}

#go-to-top:hover {
	background-color: var(--go-to-top-color-hover);
	color: var(--title-color);
}

#go-to-top i {
	font-size: 0.9em;
}

#go-to-top {
	bottom: 20px;
}

#go-to-top.hide {
	bottom: -50px;
}

/* Utils */
.hide {
	opacity: 0;
}
